body {
    background-image: url(../TCC/img_background/back_04.jpg);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.body {
    width: 100%;
    height: 100%;
    background-image: url(../TCC/img_background/back_01.jpg);
    background-size: cover;
}


.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1.1%;
    width: 100%;
    height: 80%;
    max-width: 80%;
    /* transform: translateX(8%); */
    margin-left: auto;
    margin-right: auto;
    margin: 15px auto 0 auto;
}

.img-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 250px;
    cursor: pointer;
    border-radius: 2px;
}

.img-cardTeste {
    width: 100%;
    height: 230px;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 1%;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-cardTeste:hover {
    transform: scale(1.1);
}

.nameCharacter {
    text-align: center;
    font-family: "Passero One", sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #ccd82b;
    
}